/.idea/
/nxt.iml
/nxt_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/nxt.jar
/nxt_test_db
/README_win.txt
/package.sh
/nxt.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/json_simple-1.1-all/
/test/classes/
*.csv
