<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2016 The Nxt Core Developers.                                 ~
  ~                                                                           ~
  ~ See the AUTHORS.txt, DEVELOPER-AGREEMENT.txt and LICENSE.txt files at     ~
  ~ the top-level directory of this distribution for the individual copyright ~
  ~ holder information and the developer policies on copyright and licensing. ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement, no part of the   ~
  ~ Nxt software, including this file, may be copied, modified, propagated,   ~
  ~ or distributed except according to the terms contained in the LICENSE.txt ~
  ~ file.                                                                     ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
 <ion-header>
  <ion-navbar>
    <ion-title>SkyNxt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
<ion-list >

	<ion-row>
		<ion-col width-10>
			<button light (click)='switchInputType()'><ion-icon name="{{iconType}}"></ion-icon></button>
		</ion-col>
		<ion-col width-80 [hidden]='!saved_accounts'>
		  <ion-item>
			<ion-select [(ngModel)]="account" (ngModelChange)="accountChanged()" cancelText="{{removeTxt()}}" (ionCancel)="removeAccount()">
			  <ion-option *ngFor="let accountVal of accounts">{{accountVal}}</ion-option>
			</ion-select>
		  </ion-item>
		</ion-col>
		<ion-col width-80 [hidden]='saved_accounts'>
			<ion-input type="{{textType}}" [(ngModel)]="loginData" placeholder="{{loginTxt()}}"><ion-icon name="ios-person-outline"></ion-icon></ion-input>
		</ion-col>
		<ion-col width-10>
			<button light (click)='scanQRCode()'><ion-icon name="ios-qr-scanner-outline"></ion-icon></button>
		</ion-col>
	</ion-row>

</ion-list>
<ion-item>
  <ion-label>{{rememberTxt()}}</ion-label>
  <ion-checkbox dark [(ngModel)]="rememberMe"></ion-checkbox>
</ion-item>

<span>Login to</span>
<ion-row>
 <ion-col>
<button (click)='loginDataEntered()'><ion-icon name="ios-arrow-forward-outline"></ion-icon>SkyNxt UI(minimal features)</button>
 </ion-col>
<ion-col>
<button (click)='switchToWebUI()'>NRS Web UI(full features)</button>
</ion-col>		
</ion-row>

  <ion-item>
    <ion-select [(ngModel)]="language" (ngModelChange)="languageChanged()">
      <ion-option *ngFor="let languageKeyVal of languages" value="{{languageKeyVal}}">{{languageKeyVal}}</ion-option>
    </ion-select>
  </ion-item>

<button full light (click)='generatePassphrase()'><ion-icon name="ios-lock-outline"></ion-icon></button>
</ion-content>
