<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.nxt.wallet" version="10.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>NXT Mobile Wallet</name>
  <description>
        Reference implementation mobile wallet for NXT.
    </description>
  <author email="support@nxt.org" href="http://nxt.org/">
      Riker
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <preference name="FadeSplashScreenDuration" value="5000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="www/img/nxt_logo.png" density="land-hdpi"/>
    <splash src="www/img/nxt_logo.png" density="land-ldpi"/>
    <splash src="www/img/nxt_logo.png" density="land-mdpi"/>
    <splash src="www/img/nxt_logo.png" density="land-xhdpi"/>
    <splash src="www/img/nxt_logo.png" density="port-hdpi"/>
    <splash src="www/img/nxt_logo.png" density="port-ldpi"/>
    <splash src="www/img/nxt_logo.png" density="port-mdpi"/>
    <splash src="www/img/nxt_logo.png" density="port-xhdpi"/>
  </platform>
</widget>